*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header
{
    background: url("img/tlo.jpg") center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1, h2
{
    text-align: center;
    color: #ddd;
    margin-bottom: 20px;
}

h1
{
    font-size: 40px;
}

h2
{
    font-size: 26px;
}

button
{
    position: absolute;
    /*top: 50%; UMIESZCZENIE PRZYCISKU NA SRODKU EKRANU WZGLEDEM JEGO LEWEGO, GORNEGO ROGU
    left: 50%; UMIESZCZENIE PRZYCISKU NA SRODKU EKRANU WZGLEDEM JEGO LEWEGO, GORNEGO ROGU*/
    bottom: 20%;
    left: 50%;
    width: 260px;
    height: 70px;
    padding: 20px;
    background-color: brown;
    border: 3px solid darkred;
    color: white;
    font-size: 20px;
    margin-left: -130px;
    /*margin-top: -35px; /*UMIESZCZENIE PRZYCISKU NA SRODKU EKRANU WZGLEDEM JEGO SRODKA
    margin-left: -130px; UMIESZCZENIE PRZYCISKU NA SRODKU EKRANU WZGLEDEM JEGO SRODKA*/

}